<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Made in Days</title>
    <meta name="viewport" content="width=768">
    <link rel="stylesheet" href="style.css">
    <script src="//use.typekit.net/<%= pkg.typekit %>.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <meta property="og:title" content="Made in Days">
    <meta property="og:description" content="Handcrafted products inspired by life’s fable. Made to last, made to work, made for you. Two pairs of hands come together to create one of a kind products for each of life’s quirks. Which personality are you?">
    <meta property="og:image" content="http://madeindays.com/assets/images/facebook.png">
    <meta property="og:url" content="http://madeindays.com/">

    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@Madeindays">
    <meta name="twitter:title" content="Handcrafted products inspired by life’s fable.">
    <meta name="twitter:image" content="http://madeindays.com/assets/images/twitter.png">
    <meta name="twitter:image:width" content="506">
    <meta name="twitter:image:height" content="253">

    <link rel="shortcut icon" href="assets/favicon.png">
</head>
<body>

<div id="loading"><div class="logo"></div></div>

<div class="header">
    <div class="dark" data-90p="opacity:0" data-100p="opacity:1" data-240p="opacity:1" data-250p="opacity:0" data-840p="opacity:0" data-850p="opacity:1" data-940p="opacity:1" data-950p="opacity:0">
        <a href="/" class="logo">Made in Days</a>
        <div class="shares">
            <a href="" class="share facebook"></a>
            <a href="" class="share twitter"></a>
        </div>
    </div>
    <div class="light" data-240p="opacity:0" data-250p="opacity:1" data-840p="opacity:1" data-850p="opacity:0" data-940p="opacity:0" data-950p="opacity:1">
        <a href="/" class="logo">Made in Days</a>
        <div class="shares">
            <a href="" class="share facebook"></a>
            <a href="" class="share twitter"></a>
        </div>
    </div>
</div>

<div class="page">

    <div class="intro" data-0p="transform:translate(0,0%)" data-250p="transform:translate(0,-100%)">
        <h1 class="logo" data-50p="opacity:1" data-70p="opacity:0">Made in Days</h1>
    </div>

    <div class="description" data-0p="transform:translate(0,200%)" data-150p="transform:translate(0,-100%)">
        <div class="center" data-30p="opacity:0" data-50p="opacity:1" data-110p="opacity:1" data-120p="opacity:0">
            <h2>One day at a time</h2>
            <p>With every handcrafted product comes a lesson from life’s fable.<br>Two pairs of hands come together to create one of a kind<br>products for each of life’s quirks.</p>
        </div>
    </div>

    <div class="detail" data-50p="transform:translate(0,100%)" data-250p="transform:translate(0,-100%)">
        <div class="center">
            <div data-80p="opacity:0" data-100p="opacity:1">
                <h2>Day 1: Sharpshooter</h2>
                <p>Practical, brave, and ruthlessly charming, the <strong>Sharpshooter</strong> is<br>an accessory with a whole lot of bite.</p>
            </div>

            <div class="interactive">
                <div data-115p="opacity:0" data-135p="opacity:1"></div>
            </div>
        </div>
    </div>

    <div data-0p="transform:translate(0,100%)" data-149p="transform:translate(0,100%)" data-150p="transform:translate(0,20%)" data-250p="transform:translate(0,0%)" data-350p="transform:translate(0,-20%)" class="photo n1"></div>
    <div data-250p="transform:translate(0,100%)" data-350p="transform:translate(0,0%)" data-450p="transform:translate(0,-20%)" class="photo n2"></div>
    <div data-350p="transform:translate(0,100%)" data-450p="transform:translate(0,0%)" class="photo n3"></div>

    <div class="materials" data-450p="background-color:rgba(15,12,6,.0)" data-500p="background-color:rgba(15,12,6,.85)">
        <h2 data-460p="opacity:0" data-500p="opacity:1">Balance <span>between the</span> Stitches</h2>

        <div data-500p="transform:translate(5%,0);opacity:0" data-520p="transform:translate(0%,0);opacity:1" class="material leather">
            <div></div>
            <p><strong>Leather</strong> Tanned to a crisp cinnamon hue and waxed to matte perfection.</p>
        </div>
        <div data-510p="transform:translate(5%,0);opacity:0" data-530p="transform:translate(0%,0);opacity:1" class="material felt" id="felt">
            <div></div>
            <p><strong>Felt</strong> Made from vegan materials for durable color and firm texture.</p>
        </div>

        <div class="bg" data-460p="transform:translate(-100%,0)" data-500p="transform:translate(0%,0)"></div>
    </div>

    <div class="photo n4" data-550p="transform:translate(0,100%)" data-650p="transform:translate(0,0%)" data-750p="transform:translate(0,-20%)"></div>
    <div class="photo n5" data-650p="transform:translate(0,100%)" data-750p="transform:translate(0,0%)" data-850p="transform:translate(0,-20%)"></div>

    <div class="specs" data-750p="transform:translate(0,100%)" data-850p="transform:translate(0,0%)">
        <div class="center">
            <div data-780p="opacity:0" data-810p="opacity:1">
                <h2>100% Handmade</h2>
                <p>The leather exterior is waxed with natural beeswax for a beautiful rustic finish that protects as it ages. Inside, a clever series of folds and stitches reveals unexpected functionality to the slim accessory.</p>
                <div id="measures">
                    <div class="flip">
                        <div>9,5cm × 7cm</div>
                        <div>3.74″ × 2.76″</div>
                    </div>
                </div>
            </div>

            <div class="features">
                <div data-820p="transform:scale(.6);opacity:0" data-840p="transform:scale(1);opacity:1">
                    <h3>Keepsake friendly</h3>
                    <div></div>
                </div>
                <div data-810p="transform:scale(.6);opacity:0" data-830p="transform:scale(1);opacity:1">
                    <h3>Up to <strong>8</strong> cards</h3>
                    <div></div>
                </div>
                <div data-820p="transform:scale(.6);opacity:0" data-840p="transform:scale(1);opacity:1">
                    <h3>All Cash Currencies</h3>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="buy" data-850p="transform:translate(0,100%) translateY(0px)" data-950p="transform:translate(0,0%) translateY(0px)" data-1000p="transform:translate(0,0%) translateY(-415px)">
        <div data-910p="opacity:0" data-930p="opacity:1">
            <h3>Limited Edition of <strong>8</strong> wallets for <strong>$<span id="priceTag">…</span></strong></h3>
            <h2>Take it or leave it</h2>
            <button id="buy">I want one</button>
            <p>Still available: <strong id="piecesLeft">?</strong>/8</p>
        </div>
    </div>

    <div class="footer" data-950p="transform:translate(0,100%)" data-1000p="transform:translate(0,0%)">
        <div class="center">
            <div>
                <h2>Shipping & Handling</h2>
                <p>We’re just starting out, so production is limited. After all, we only have two pairs of hands. All orders are handled separately by location (yes we ship to anywhere on earth!). </p>
            </div>
            <div>
                <h2>More info</h2>
                <ul>
                    <li><a href="http://blog.madeindays.com/" target="_blank">Blog</a></li>
                    <li><a href="http://blog.madeindays.com/about/" target="_blank">About us</a></li>
                    <li><a href="mailto:info@madeindays.com">Contact</a></li>
                </ul>
            </div>
            <div class="instagram">
                <h2>Instagram</h2>
                <div class="photos" id="instafeed"></div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
    <div id="arrow"></div>

    <div id="awwwards" class="left white"><a href="http://www.awwwards.com/best-websites/made-in-days" target="_blank">best websites of the world</a></div>
</div>

<div class="order" id="order">
    <a class="close"></a>
    <div class="center">
        <div id="formcontainer">
            <h2>Complete Your Order</h2>
            <p>All products are made to order with shipping details according to preference.</p>
            <form action="" id="orderform">
                <input placeholder="Your Name" type="text" id="name">
                <input placeholder="E-mail" type="email" id="email">
                <textarea placeholder="Tell us your story…" id="content"></textarea>
                <button type="submit" id="buybutton">Send It</button>
            </form>
        </div>
    </div>
</div>

<div class="success" id="success">
    <a class="close"></a>
    <div class="center">
        <div>
            <h2>Thanks! We’ll be getting back<br>to you real soon.</h2>
            <p>Now go and spread the word about your latest discovery.</p>
        </div>
        <div>
            <a class="share twitter">
                <i></i>
                Share on Twitter
            </a>
            <a class="share facebook">
                <i></i>
                Share on Facebook
            </a>
        </div>
    </div>
</div>

<script src="libs.js"></script>
<script src="app.js"></script>
<script>var _gaq=[['_setAccount','<%= pkg.analytics %>'],['_trackPageview']]</script>
<script defer src="//madeindays.herokuapp.com/data?callback=priceData"></script>
<script defer src="//google-analytics.com/ga.js"></script>
<script defer src="//ip-api.com/json/?callback=geolocated"></script>
